
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">PicDrop</a>
      <a {{action "mobileMenu"}} href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session.isAuthenticated }}
        <li><a href="https://picdrop2.herokuapp.com/users/auth/facebook" class="btn">Facebook</a></li>
        <li><a href="https://picdrop2.herokuapp.com/users/auth/flickr" class="btn">Flickr</a></li>
        <li><button class='btn' id='logout' {{action 'invalidateSession'}}>Logout</button></li>
        {{else}}
        <li>{{#link-to 'login' class='btn' id='loginButton'}}Login{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        {{#if session.isAuthenticated }}
        <li><a href="https://picdrop2.herokuapp.com/users/auth/facebook">Facebook</a></li>
        <li><a href="https://picdrop2.herokuapp.com/users/auth/flickr">Flickr</a></li>
        <li><a  {{action 'invalidateSession'}}>Logout</a></li>
        {{else}}
        <li>{{#link-to 'login' }}Login{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </nav>
</div>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
