auth template
{{input value=authorize_url classNames='form-control' placeholder="key"}}
<button {{action 'auth' authorize_url}}>auth</button>
<button {{action 'get_url' authorize_url}}>get url</button>
{{authorize_url}}kkk
{{outlet}}
